astroid
attrs==20.3.0
Authlib==0.11
awscli==1.17.9
blinker==1.4
botocore==1.14.9
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.1
cryptography==3.2.1
docutils==0.15.2
Flask==1.1.2
Flask-API==2.0
Flask-Mail==0.9.1
google-api-core==1.23.0
google-api-python-client==1.12.5
google-auth==1.23.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
gunicorn==20.0.4
httplib2==0.18.1
idna==2.10
importlib-metadata==2.0.0
iniconfig==1.1.1
isort
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.9.4
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mysql-connector-python==8.0.22
packaging==20.4
pluggy==0.13.1
protobuf==3.14.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pylint
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.2
requests==2.25.0
rsa==3.4.2
s3transfer==0.3.2
simplejson==3.17.2
six==1.13
toml==0.10.2
typed-ast==1.4.1
uritemplate==3.0.1
urllib3==1.25.8
Werkzeug==1.0.1
wrapt==1.11.2
zipp==3.4.0
coverage==5.3
codecov==2.1.10
pytest-cov==2.10.1
coveralls
